.layout {
  height: 100%;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  background-color: var(--primary-background-color);
}

.layout__body {
  padding: 0 30px 0 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

