.icon-button {
  border: none;
  padding: 2px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.icon-button:not(:disabled):hover {
  cursor: pointer;
  background-color: #FFF;
  opacity: .5;
}

.icon-button:focus {
  outline: none;
}

.icon-button:focus-visible {
  outline: 1px solid var(--primary-text-color);
}

.icon-button:disabled> {
  color: var(--ghost-color);
}
