.modify-card {
  padding: 6px 16px;
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--accent-color);
  border-radius: 32px;
  font-weight: 700;
  font-size: 16px;
  cursor: default;
}
